<div class="container">
<p class="notice"><%= flash[:notice] %></p>
<% if book.errors.any? %>
				<h2 class="text-danger"><%= book.errors.count %>error</h2>
				<ul class="text-danger">
					<% book.errors.full_messages.each do |message|%>
					<li><%= message %></li>
					<%end%>
				</ul>
			<%end%>