<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-3 col-lg-6">
<h2>welcome to <i class="glyphicon glyphicon-book" aria-hidden="true">Bookers   !!</i></h2>
<p>In <strong><i class="glyphicon glyphicon-book" aria-hidden="true">Bookers,</i></strong></p>
<p>you can share and exchange your opnions, inpressions,and emotions</p>
<p>about various books!</p>
	<div class="row">
		<div class="col-lg-offset-2 col-lg-6" style="background-color:blue ">
			<%= link_to "Log in", new_user_session_path  %>
	</div>
</div>
	<div class="row">
		<div class="col-lg-offset-2 col-lg-6" style="background-color: green">
		<%=link_to "Sign Up" , new_user_registration_path  %>
	</div>
	</div>
</div>
</div>
</div>
</div>
