<p class="notice"><%= flash[:notice] %></p>
<div class="container">
	<div class="row">
		<div class="col-lg-offset-3 col-lg-6">
			<h1>welcome to <i class="glyphicon glyphicon-book" aria-hidden="true"></i><strong>Bookers   !!</strong></h1>
			<p>In <i class="glyphicon glyphicon-book" aria-hidden="true"></i><strong>Bookers,</strong></p>
			<p>you can share and exchange your opnions, inpressions,and emotions</p>
			<p>about various books!</p>
				<div class="row text-center">
					<%= link_to new_user_session_path do %>
					<i class="col-lg-10 col-lg-offset-1 btn btn-info" >Log in</i>
					<% end %>
				</div>
				<div class="row text-center">
					<%=link_to  new_user_registration_path do %>
					<i class="col-lg-10 col-lg-offset-1 btn btn-success">Sign Up</i>
				<% end %>
			</div>
		</div>
	</div>
</div>
